.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.overlay:hover .image {
  opacity: 0.2;
}

.overlay:hover .middle {
  opacity: 1;
}

.nav3 {
  margin: auto;
  float: left;
  padding: 30px 20px 30px 75px;
}

.nav3 a>img{
  margin-left: 5px;
  margin-right: 5px;
}

.icons{
  display:inline-block;
  width: 64px;
  height: 64px;
}

a.icons:hover {
  background: #C93;
}
