.autocomplete-container {
    font-size: 84%;
    display: block;
    position: absolute;
    z-index: 100;
    border-bottom: honeydew;
    border-left: honeydew;
    border-right: honeydew;
    border-top: 1px solid #e6e6e6;
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
    border-radius: 0 0 2px 2px;
}

.suggestion-item {
    padding: 4px;
    text-align: left;
}

.spinner {
    color: #18bc9c;
    font-size: 30px;
}

.autocomplete {
    width: 80%;
    max-width: 320px;
}

@media (max-width: 480px) {
    .autocomplete-container {
        text-align: left;
    }
}